{% extends 'base.html' %}
{% load static %}
{% block content %}
	<!-- about -->
	<div class="about py-5" id="about">
		
		<div class="container py-xl-5 py-lg-3">
			<div class="row m-1">
				<div class="col-12"><a class="btn btn-danger float-right" href="{% url 'add-dish' %}">Add dish</a></div>
			</div>
			<h3 class="title text-center text-dark mb-sm-5 mb-4">
				<span>dish</span> world's no.1 preasure.</h3>
			<div class="row about-bottom-w3l text-center pt-lg-5">
				{% for dish in dishs %}
				<div class="col-sm-3 my-1">
					<div class="card shadow">
						<img src="{{dish.photo.url}}" height="200" alt="" class="card-img-top">
						<a href="#">
						<div class="card-body">
							<h4 class="card-title">{{dish.name}}</h4>
                            <p class="card-text">{{dish.price}}</p>
                            <a class="btn btn-basic float-right" href="">{{dish.restaurant_name}}</a>
						</div>
						</a>
					</div>
				</div>
				{% endfor %}
				
			</div>
		</div>
	</div>
	<!-- //about -->
	<!-- middle section two -->
	<div class="agile-wthree-works py-5" id="some">
		<div class="container py-xl-5 py-lg-3">
			<div class="row">
				<div class="grids-w3ls-right-2 offset-lg-7 offset-sm-4">
					<h4 class="title text-dark mb-sm-5 mb-4">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
						fugit</h4>
					<p class="mt-4">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad reprehenderit qui in
						ea voluptate velit
						esse </p>
					<a href="#" class="button-w3ls mt-5" data-toggle="modal" data-target="#exampleModalCenter1">Read More
						<i class="fas fa-long-arrow-alt-right ml-3"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- //middle section two -->

{% endblock %}